<!-- <p id="notice" class="notice alert alert-primary" role="alert"><%= notice %></p> -->
<nav class="nav navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
  <a class="navbar-brand">
    <% if user_signed_in? %>
    <p style='color:#FFFFFF'>Logged as: <%= current_user.email %>
    <a class="nav-link active"><%= link_to 'Log Out', destroy_user_session_path, method: :delete ,style: 'color:#FFFFFF;'%></a>
    <% else %>
    <a class="nav-link active"> <%= link_to 'Log In', new_user_session_path,style: 'color:#FFFFFF;' %></a>
    <a class="nav-link active"> <%= link_to 'Sign Up!', new_user_registration_path, style: 'color:#FFFFFF;' %></a>
    <% end %>
  </a>
</nav>

<h1 class="display-1">Movies</h1>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <!-- <th scope="col">Genre</th> -->
      <th scope="col">Image url</th>
      <th scope="col">Price</th>
      <!-- <th scope="col">Duration</th> -->
      <th scope="col-3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr scope="row">
        <td><%= movie.name %></td>
        <!-- <td><%= movie.genre %></td> -->
        <td><img src="<%= movie.image_url %>" class="img-fluid align-center" alt="Responsive image"> </td>
        <td><%= number_to_currency(movie.price) %></td>
        <!-- <td><%= movie.duration %></td> -->
        <td><button type="button" class="btn btn-outline-primary"><%= link_to 'Details', movie %></button>
            <button type="button" class="btn btn-outline-secondary"><%= link_to 'Edit', edit_movie_path(movie) %></button>
            <button type="button" class="btn btn-outline-danger"><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-outline-primary"><%= link_to 'New Movie', new_movie_path %></button>
<button type="button" class="btn btn-outline-primary"><%= link_to 'Rent a Movie', :controller => "movies", :action => "make_a_rent" %></button>
